{{! template-lint-disable no-inline-styles }}
{{! template-lint-disable style-concatenation }}
<Picker @color={{this.color}} @onDone={{this.onDone}} />
<Picker
  @color={{this.color}}
  @onDone={{this.onDone}}
  style="{{if
      this.color
      (concat 'width: 32px;height: 32px;background:' this.color ';')
      'width: 32px;height: 32px;'
    }}"
>
  B
</Picker>
<div
  class="ember-picker"
  style="{{if
      this.color
      (concat 'width: 32px;height: 32px;background:' this.color ';')
      'width: 32px;height: 32px;'
    }}"
  {{picker color=this.color onDone=this.onDone}}
>
  M
</div>